:root {
  --black: #020204;
  --light-green: #5bb137;
  --dark-green: #0e7635;
  --orange: #d19a39;
}

html,
body,
h1,
h2,
h3,
h4,
p,
header,
section,
footer {
  margin: 0;
  padding: 0;
}

html,
input,
button,
textarea,
select {
  font-size: 22px;
  font-family: Tahoma, sans-serif;
  letter-spacing: -0.02rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  max-width: 80vw;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: white;
  color: var(--black);
}

@media (max-width: 767px) {
  body {
    max-width: 90vw;
  }
}

p {
  margin-bottom: 1rem;
}

p:last-of-type {
  margin-bottom: 0;
}

::selection {
  background-color: var(--orange);
}

.cactuar__link {
  color: var(--dark-green);
  font-weight: bold;
}

.cactuar__header,
.cactuar__content,
.cactuar__footer {
  margin: 1rem auto;
  padding: 0 1rem;
  background-color: var(--light-green);
  border: var(--dark-green) solid 1rem;
}

.cactuar__header {
  margin-top: 0;
}

.cactuar__footer {
  margin-bottom: 0;
}

.cactuar__container {
  padding: 1rem 0;
}

.cactuar__contexts {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.cactuar__context {
  display: block;
  width: 100%;
  background-color: var(--orange);
  color: #020204;
  margin-right: 1rem;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

.cactuar__context:last-of-type {
  margin-right: 0;
}

.cactuar__context--active {
  background-color: white;
}

.cactuar__pair {
  margin-bottom: 1rem;
}

.cactuar__pair:last-of-type {
  margin-bottom: 0;
}

.cactuar__title {
  width: 100%;
  background-color: white;
  padding: 0.4rem;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: left;
}

.cactuar__title:focus,
.cactuar__title:active,
.cactuar__title:hover {
  color: var(--orange);
}

.cactuar__title::after {
  content: '+';
  float: right;
  margin-left: 0.4rem;
}

.cactuar__title--active:after {
  content: "-";
}

.cactuar__response {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.cactuar__inner {
  padding: 0.6rem 0.4rem 0;
}

.cactuar__response:last-of-type {
  padding-bottom: 0;
}
