html,
body,
h1,
h2,
h3,
h4,
p,
header,
section,
footer {
  margin: 0;
  padding: 0;
}

html,
input,
button,
textarea,
select {
  font-size: 22px;
  font-family: Tahoma, sans-serif;
  letter-spacing: -0.02rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  max-width: 80vw;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #white;
  color: #020204;
}

@media (max-width: 767px) {
  body {
    max-width: 90vw;
  }
}

p {
  margin-bottom: 1rem;
}

p:last-of-type {
  margin-bottom: 0;
}

::selection {
  background-color: #d19a39;
}

.cactuar__header,
.cactuar__content,
.cactuar__footer {
  margin: 1rem auto;
  padding: 0 1rem;
  background-color: #5bb137;
  border: #0e7635 solid 1rem;
}

.cactuar__header {
  margin-top: 0;
}

.cactuar__footer {
  margin-bottom: 0;
}

.cactuar__container {
  padding: 1rem 0;
}

.cactuar__contexts {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.cactuar__context {
  display: block;
  width: 100%;
  background-color: var(--orange);
  margin-right: 1rem;
  text-decoration: none;
}

.cactuar__context:last-of-type {
  margin-right: 0;
}

.cactuar__context > .cactuar__heading {
  padding: 1rem;
  color: #020204;
}

.cactuar__context--active {
  background-color: white;
}

.cactuar__link {
  color: #0e7635;
  font-weight: bold;
}
